.left-margin {
  margin-left: 10px;
}

.main-title {
  font-family: 'Pacifico', cursive;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

img {
  opacity: 0.3;
  transition: opacity 1.2s;
}

img:hover {
  opacity: 1;
}
